// ==========================================================================
// Theme Style Main
// ==========================================================================

/*!
Theme Name: Odin
Author URI: http://wpod.in/
Description: Odin main stylesheet.
Author: the Odin team
Author URI: http://wpod.in/#colaboradores
*/

@import
        "variables",           // Theme       Custom Variables
        "bootstrap/bootstrap", // Bootstrap   Styles Core
        "wordpress/wordpress", // WordPress   Styles Core
        //"woocommerce",       // WooCommerce Styles Core
        "odin/core",           // Odin        Styles Core
        "layout"               // Theme       Custom Layout
;
.navbar-default{
  background-color: inherit !important;
  border: 0;
}
.page-header{
	border-bottom: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: inherit;
}
html {
    overflow-x: hidden;
}
html, body{
	font-family: 'Open Sans', sans-serif;
}
article#endereco{
	float: right;
	padding-right: 0;
	padding-left: 0;
  	padding-top: 6px;
	p{
  		padding-left: 2px;
  		padding-right: 10px;
   		color: #fff;
   		@media screen and(max-width: 991px){
   			padding-left: 2px;
    		padding-right: 5px;
    		font-size: 13.5px;
   		}
	}
	p, img{
		display: inline-block;
	}
	@media screen and(max-width: 425px){
		float: inherit;
		text-align: center
	}
}
#header #main-navigation {
	@media screen and(max-width: 991px){
    	margin-top: 0;
    	margin-bottom: 20px;
	}
}
#header .page-header{
	@media screen and(max-width: 991px){
    	margin-bottom: 0;
	}
}
#contatoHeader{
	background: #f5be26;
	height: 34px;
	@media screen and(max-width: 765px){
		height: 68px;
	}
	@media screen and(max-width: 425px){
		height: 35px;
	}
}
#imagemEndereco, #labelEndereco, #imagemEmail, #labelEmail{
	@media screen and(max-width: 425px){
		display: none !important;
	}
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding-right: 0;
	padding-left: 0;
	@media screen and(max-width: 767px){
		overflow-x: hidden; 
	}
}
.navbar-default .navbar-nav>li>a{
	padding-left: 3px;
    padding-top: 10px;
    border-top: solid 1px #959595;
    margin: auto 12px;
    padding-right: 3px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	border-top: solid 2px #f5be26;
    text-align: center;
    padding-top: 10px;
    color: #f5be26;
    font-weight: bold;
}
ul#menu-menu-principal-header {
    margin-top: 17%;
    @media screen and(max-width: 1199px){
    	margin-top: 8%;
    }
    @media screen and(max-width: 767px){
    	text-align: center;
    }
}
img#iconFacebook {
    float: right;
}
img#backgroundBanner{
	position: absolute;
}/* #backgroundBanner1 img{
	position: absolute;
    background-color: #FFF;
}
#backgroundBanner2 img {
	position: absolute;
}
#backgroundBanner2 img:hover{
	display: none;
} */
#parceiros{
	margin-top: 2%;
    margin-bottom: 6%;
    text-align: center;
    @media screen and(max-width: 1199px){
    	margin-bottom: 12%;
    }
    @media screen and(max-width: 991px){
    	margin-bottom: 25%;
    }

    @media screen and(max-width: 590px){
    	margin-bottom: 30%;
    }
    @media screen and(max-width: 490px){
    	margin-bottom: 40%;
    }
    @media screen and(max-width: 470px){
    	margin-bottom: 45%;
    }
    @media screen and(max-width: 450px){
    	margin-bottom: 50%;
    } 
    @media screen and(max-width: 413px){
    	margin-bottom: 55%;
    }  
    @media screen and(max-width: 400px){
    	margin-bottom: 65%;
    } 
    @media screen and(max-width: 360px){
    	margin-bottom: 74%;
    }
	h3{
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 1%;
		color: #636363;
	}
    img{
    	width: 100%;
    opacity: 0.7;
    	-webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
	    @media screen and(max-width: 766px){
	    	max-width: 55%;
	    }
	    @media screen and(max-width: 450px){
	    	max-width: 70%;
	    }
    }
    img:hover{
    	opacity: 1;
    	cursor: pointer;
    }
}
#parceiros1{	
	@media screen and(max-width: 991px){
		padding-right: 0;
	}
}
#parceiros2{
	img{
		width: 100%;
	    @media screen and(max-width: 766px){
	    	max-width: 55%;
	    }
	   @media screen and(max-width: 450px){
	    	max-width: 70%;
	    }
	}
	@media screen and(max-width: 991px){
		padding-left: 0;
	}
}
#parceiros1 div:nth-child(1){
	margin-left: 8%;
	@media screen and(max-width: 991px){
		margin-left: 0;
	}
}
#parceiros1 div:nth-child(5){
	@media screen and(max-width: 991px){
		margin-left: 50%;
	}
	@media screen and(max-width: 766px) {
		margin-left: 0;
	}
}
#parceiros2 div:nth-child(4){
	@media screen and(max-width: 768px){
		margin-left: -100%;
	}

	@media screen and(max-width: 766px) {
		margin-left: 0;
	}
}
#parceiros1 div:nth-child(4){
	@media screen and(max-width: 991px){
		margin-left: -100%;
	}
	@media screen and(max-width: 766px) {
		margin-left: 0;
	}
}
#parceiros2 div:nth-child(1){
	margin-left: 8%;
	@media screen and(max-width: 991px){
		margin-left: 0;
	}
}

#footer{
	background: #f5be26 !important;
	//height: auto !important;
	padding-top: 0;
	height: initial;
	position: initial;
}
#menuRodape{
	padding-right: 0;
	padding-left: 0;
	ul{
		list-style-type: none;
    	padding-left: 0;
    	text-align: left;
	}
	li{
		margin-bottom: 2%;
	}
	a{
		color: #fff;
    	font-size: 14px;
    	font-weight: 600;
	}
	a:hover, a:focus{
		text-decoration: underline;
	}
	a:active{
		text-decoration: underline;
	}
	@media screen and(max-width: 720px){
		width: 50%;
	}
}
#logoIdeal{
	@media screen and(max-width: 720px){
		width: 50%;
	}
	img{
		@media screen and(max-width: 500px){
			width: 100%;
		}
	}
}
#informacoesRodape {
    padding-top: 2%;
    padding-bottom: 1%;
}
#informacoesContato{
	color: #fff;
	text-align: left;
	@media screen and(max-width: 991px){
		padding-right: 0;
	}
	@media screen and(max-width: 720px){
		text-align: center;
		width: 100%;
	}
	#telefone, #email, #facebook{
		display: inline-block;
		img, h5{
			display: inline-block;
		}
	}
	#email, #facebook{
		padding-left: 5%;
	}
	#local{
		display: inline-block;
		img, h5{
			display: inline-block;
		}
	}
}
#logo{	
	@media screen and(max-width: 991px){
		text-align: center;
	}
	img{
		@media screen and(max-width: 500px){
			width: 100%;
		}
	}
}
#logoAmplia {
	img{
    	padding-top: 9%;
    	@media screen and(max-width: 991px){
    		padding-top: 0;
    		margin-top: 2%;
    	}
	}
	@media screen and(max-width: 1199px){
		margin-left: 0;
	}
	@media screen and(max-width: 720px){
		width: 100%;
	}
}
#paginaParceiros{
	margin-top: 0;
    text-align: center;
	h3{
		margin-top: 0;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 1%;
		color: #636363;
	}
    img{
    	width: 100%;
    }
}
#paginaParceiros2{
	img{
		width: 100%;
	}
}
#paginaParceiros1 div:nth-child(1){
	margin-left: 8%;
}
#paginaParceiros2 div:nth-child(1){
	margin-left: 8%;
}
#linkDe{
	display: none;
}
#banner_imgParceiros {
    margin-bottom: 8%;
    @media screen and(max-width: 991px){
    	margin-bottom: 18%;
    }
    @media screen and(max-width: 721px){
    	margin-bottom: 26%;
    }
    @media screen and(max-width: 623px){
    	margin-bottom: 35%;
    }
    @media screen and(max-width: 448px){
    	margin-bottom: 55%;
    }
    @media screen and(max-width: 422px){
    	margin-bottom: 60%;
    }
    @media screen and(max-width: 380px){
    	margin-bottom: 72%;
    }
}
#pagEmpresa{	
	margin-top: 0;
    margin-bottom: 6%;
    text-align: center;
	p{
		text-align: justify;
	}
	h3{
		font-size: 29px;
		margin-top: 0;
		text-align: left;
		font-weight: bold;
		margin-bottom: 4%;
		color: #636363;
		text-align: center;
	}
}
#mapaContato{
	margin-bottom: 10%;
	@media screen and(max-width: 767px){
		margin-top: 2%;
		padding-left: 0;
		padding-right: 0;
	}
	@media screen and(max-width: 730px){
		margin-bottom: 15%;
	}
	@media screen and(max-width: 720px){
		margin-bottom: 22%;
	}
	@media screen and(max-width: 660px){
		margin-bottom: 25%;
	}
	@media screen and(max-width: 580px){
		margin-bottom: 30%;
	}
	@media screen and(max-width: 440px){
		margin-bottom: 45%;
	}
	@media screen and(max-width: 425px){
		margin-bottom: 55%;
	}
	@media screen and(max-width: 390px){
		margin-bottom: 70%;
	}
}
#formularioContato{
	border: solid #909190 1px;
	form {
	    margin-top: 3%;
	}
	input{
    	width: 70%;
    	font-weight: 400;
    	@media screen and(max-width: 420px){
    		width: 100%;
    	}
	}
	textarea{
		width: 90%;
		height: 130px;
		@media screen and(max-width: 420px){
    		width: 100%;
    	}
	}
	h3 {
	    margin-top: -16px;
	    margin-bottom: 0;
	    padding-left: 15px;
	    background-color: #f5be26;
	    color: #fff;
	    font-size: 16px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    width: 52%;
	    @media screen and(max-width: 1199px){
	    	width: 58%;
	    }
	    @media screen and(max-width: 991px){
	    	width: 78%;
	    }
	    @media screen and(max-width: 767px){
	    	width: 38%;
	    }
	    @media screen and(max-width: 712px){
	    	width: 42%;
	    }
	    @media screen and(max-width: 655px){
	    	width: 45%;
	    }
	    @media screen and(max-width: 615px){
	    	width: 50%;
	    }
	    @media screen and(max-width: 560px){
	    	width: 60%;
	    }
	    @media screen and(max-width: 480px){
	    	width: 75%;
	    }
	    @media screen and(max-width: 400px){
	    	width: 100%;
	    }
	}
	p{
		font-weight: 600;
	}
}
#botaoContato {
    width: 20% !important;
    background: #f5be26;
    margin-top: 3%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    @media screen and(max-width: 420px){
    	width: 100% !important;
    }
}
#caixa{
	width: 250px;
	height: 250px;
}
#divTeste{
	img.wp-post-image{
		@media screen and(max-width: 760px){
			max-width: 112%;
			margin-left: -6%;
		}
	}
}
#divTeste:before {
    content: "";
    display: block;
    position: absolute;
    /* border-top-left-radius: 100px; */
    /* border-top-right-radius: 100px; */
    width: 100%;
    height: 304px;
    left: -100%;
    z-index: -1;
    background-color: inherit;
    @media screen and(max-width: 1199px){
    	height: 249px;
    }
    @media screen and(max-width: 991px){
    	height: 189px;
    }
	@media screen and(max-width: 760px){
		height: 0;
	}
}
#divTeste:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 304px;
    right: -100%;
    z-index: -1;
    background-color: inherit;
    top: 0;
    @media screen and(max-width: 1199px){
    	height: 249px;
    }
    @media screen and(max-width: 991px){
    	height: 189px;
    }
	@media screen and(max-width: 760px){
		height: 0;
	}
}
.semBorda{
	padding-left: 0;
	padding-right: 0;
}
#imagensParceiros{
	width: 81%;
    margin: 0 auto;
    text-align: center;
}
#fotosQuemSomos{
	@media screen and(max-width: 991px){
		margin-top: 3%;
	}
	@media screen and(max-width: 721px){
    	margin-bottom: 20%;
    }
    @media screen and(max-width: 623px){
    	margin-bottom: 30%;
    }
    @media screen and(max-width: 448px){
    	margin-bottom: 50%;
    }
    @media screen and(max-width: 422px){
    	margin-bottom: 55%;
    }
    @media screen and(max-width: 380px){
    	margin-bottom: 67%;
    }
}
#tituloContato h3{
	margin-top: 0;
	text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    color: #636363;
}
img.header-image, img.wp-post-image{
	width: 100% !important;
}
body {
    margin-bottom: initial !important;
}
#artigoIdeal{
	position: relative;
    display: inline-block;
    overflow: hidden;
}
#artigoIdeal img{
	position: relative;
}
#artigoIdeal h4{
	text-align: center;
    position: absolute;
    width: 100%;
    opacity: 0;
    bottom: 0;
    margin-bottom: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#artigoIdeal:hover h4{
	background: #FFBB00;
    opacity: 0.9;
    color: #fff;
    margin: 0 auto;
    padding: 7px 0;
}
html {
    margin-top: initial !important;
}
.hoverzoom {
position: relative;
width: 350px;
overflow: hidden;
}
.hoverzoom > img {
width: 100%; 
border-radius: 2px;
-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > img {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
}
.hoverzoom .retina{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;    
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);    
	border-radius: 2px;
	text-align: center;
	padding: 30px;
	-webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}
.hoverzoom:hover .retina {
opacity: 1;
box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}
.hoverzoom .retina p {
color: #fff;
}
.hoverzoom .retina a {
	display: block;
	width: 150px;
	background: #6fc5e9;
	border: 1px solid #59afd4;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 10px 15px;
	margin: 16px auto 0;
}
#artigos h3{
	text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    color: #636363;
}
#postArtigos img{
	max-width: 100%;
	width: 150px !important;
	height: 150px;
}
#postArtigos a {
    padding-left: 0;
    padding-right: 30px;
}
#postArtigos h4 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
header.entry-header h1 {
    font-weight: 600;
}
#postArtigos p {
    color: #000;
}
#postArtigos p:hover {
    text-decoration: underline;
}
#postArtigos a {
    color: #000;
}
#postArtigos a:hover {
    text-decoration: underline;
}
aside#sidebar {
    margin-top: 83px;
}
#postArtigos:last-child{
	margin-bottom: 6%;
}
#postArtigos:first-child{
	margin-top: 1%;
}
.type-artigos {
    margin-bottom: 6%;
}
.traco{
	background: #f5be26;
    min-height: 80px;
	width: 100%;
}
#postArtigos{
	@media screen and(max-width: 767px){
		text-align: center;
	}
}
#titulo {
    text-align: center;
    color: #fff;
}
#titulo h3 {
    font-size: 38px;
    font-weight: 600;
}
button.btn.btn-default.pesquisa {
    background: rgba(255, 255, 255, 0);
    border: none;
}
#botaoPesquisa .form-group {
    background: #eb8e06;
    border-radius: 11px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#botaoPesquisa .form-group input {
    background: #eb8e06;
    border: none;
    border-radius: 11px;
    display: inline-block;
    color: #fff;
}
.form-group button{
	display: inline-block;
}
input#navbar-search {
    width: 75%;
}
::-webkit-input-placeholder {
   color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: white !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;  
}
:-ms-input-placeholder {  
   color: white !important;  
}
#marginBottom{
	margin-bottom: 2%;
}
#marginTop{
	margin-top: 2%;
}
#marginTopMarginBottom{
	margin-top: 1%;
	margin-bottom: 1%;
}
#redesSociais {
    margin-bottom: 15px;
    margin-top: 5px;
}